body{
    background-color: #FAFDD6;
    font-family: sans-serif;
}
header{
    background-color: #B20600;
    color: #fff;
    height: 80px;
    margin: 0%;
    text-align: center;
}
nav{
    
}
section{
    margin: 30px;
    background-color: #E4E9BE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    background-color: #ffffff;
    grid-column: 1/4;
}
footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    height: 100px;
    padding-top: 55px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul,ol{
    list-style: none;
    display: inline-block;
}
.menu{
    padding: 0% ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.menu>li{
    float: left;
}

.menu li a{
    
    border: 3px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}

.menu li a:hover{
    background-color: #B20600;
    border-color: #ffffff;
    border: solid 0.1em;
}

.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

.menu li ul li ul{
    right: 140px;
}
#izquierdo{
    margin: 5px;
}
#derecho{
    background-color: black;
    grid-column: 4/5;
    padding: 10px;
}
#iz1{
    height: 350px;
    padding: 15px;
}
#iz2{
    height: auto;
    padding: 10px;
    padding-left: 200px;
}
#derecho article:hover{
    background-color: #c56965;
}
#derecho article div:hover{
    background-color: #dfafac;
    border-color: #ffffff;
    border: solid 0.1em;
}
.contentIz{
    margin: 5px;
    padding: 8px;
}
div{
    background-color: #ffffff;
    margin: 5px;
    padding: 6px;
}
/*----------------------------------Autor---------------------------*/
.artCen{
    background-color: #ffffff;
    width: 130%;
    margin: 10px;

}
/*----------------------------------Recurso multimedia 1---------------------------*/
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }


.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 600px;
	vertical-align: top;
    height: 250px;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}


.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

